/*!------------------------------------------------------------------
[MAIN STYLESHEET]
PROJECT: Project Name
VERSION: Versoin Number
-------------------------------------------------------------------*/

@font-face {
  font-family: circular-font;
  src: url(../fonts/CircularStd-Book.otf) format("opentype");
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: circular-font;
  src: url(../fonts/CircularStd-Black.otf) format("opentype");
  font-style: bold;
}

@font-face {
  font-family: crimson-font;
  src: url(../fonts/CrimsonText-SemiBold.ttf) format("truetype");
  font-style: bold;
}

body {
  line-height: 1.2;
  font-family: circular-font, roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #4c4c4c
}

p {
  font-weight: 400;
  color: #4c4c4c;
  font-size: 15px;
  line-height: 1.8;
  font-family: circular-font, robotoroboto, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  line-height: 1.2
}

h1,
.h1 {
  font-size: 80px
}
@media(max-width:1400px) {

  h1,
  .h1 {
    font-size: 70px
  }
}


@media(max-width:991px) {

  h1,
  .h1 {
    font-size: 65px
  }
}

h2,
.h2 {
  font-size: 60px
}

@media(max-width:991px) {

  h2,
  .h2 {
    font-size: 45px
  }
}

h3,
.h3 {
  font-size: 40px
}

h4,
.h4 {
  font-size: 22px
}

h5,
.h5 {
  font-size: 18px
}

h6,
.h6 {
  font-size: 14px
}

.btn {
  font-size: 22px;
  text-transform: capitalize;
  padding: 16px 44px;
  border-radius: 5px;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease
}

.btn:focus {
  outline: 0;
  box-shadow: none !important
}

.btn:active {
  box-shadow: none
}

.btn-sm {
  font-size: 15px;
  padding: 10px 30px
}

.btn-xs {
  padding: 5px 10px;
  font-size: 15px
}

.btn-primary {
  background: var(--primary-color);
  color: #000000;

}

.btn-primary.active {
  opacity: .8;
}

.btn-primary:active {
  background: var(--primary-color) !important
}

.btn-primary:hover {
  background: var(--primary-color)
}

.btn-primary.focus,
.btn-primary.active {
  background: var(--primary-color) !important;
  box-shadow: none !important
}

.btn-transparent {
  background: transparent;
  color: var(--primary-color);
  font-weight: 700
}

.btn-transparent:active,
.btn-transparent:hover {
  color: var(--primary-color)
}

body {
  background-color: #fff;
  overflow-x: hidden
}serif

::selection {
  background: var(--primary-color);
  color: #fff
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center
}

ol,
ul {
  list-style-type: none;
  margin: 0
}

.content ul {
  list-style-type: disc;
}

img {
  vertical-align: middle;
  border: 0
}

a,
a:hover,
a:focus {
  text-decoration: none
}

a,
button,
select {
  cursor: pointer;serif
  transition: .2s ease
}

a:focus,
button:focus,
select:focus {
  outline: 0
}

a.text-dark:hover {
  color: var(--primary-color) !important
}

a:hover {
  color: var(--primary-color)
}

.slick-slide {
  outline: 0
}

.section {
  padding-top: 80px;
  padding-bottom: 80px
}

.section-title {
  margin-bottom: 80px;
  font-family: circular-font, bold !important
}

.bg-cover {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat
}

.overlay {
  position: relative
}

.overlay::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: .5
}

.outline-0 {
  outline: 0 !important
}

.d-unset {
  display: unset !important
}

.bg-primary {
  background: var(--primary-color) !important
}

.bg-gray {
  background: #eaeaea !important
}

.bg-blue {
  background: #5290BC !important
}

.bg-lightblue {
  background: #C4DAF1 !important
}

.bg-orange {
  background: #EF614F !important
}

.bg-lightorange {
  background: #EA9D73 !important
}

.bg-lightgreen {
  background: #B9D8B9 !important
}

.text-primary {
  color: var(--primary-color) !important
}

.text-color {
  color: #4c4c4c
}

.text-dark {
  color: #000 !important
}

.text-light {
  color: #999 !important
}bwnistaint-xbd

.mb-10 {
  margin-bottom: 10px !important
}

.mb-20 {
  margin-bottom: 20px !important
}

.mb-30 {
  margin-bottom: 30px !important
}

.mb-40 {
  margin-bottom: 40px !important
}

.mb-50 {
  margin-bottom: 50px !important
}

.mb-60 {
  margin-bottom: 60px !important
}

.mb-70 {
  margin-bottom: 70px !important
}

.mb-80 {
  margin-bottom: 80px !important
}

.mb-90 {
  margin-bottom: 90px !important
}

.mb-100 {
  margin-bottom: 100px !important
}

.zindex-1 {
  z-index: 1
}

.rounded-lg {
  border-radius: 15px
}

.overflow-hidden {
  overflow: hidden
}

.font-primary {
  font-family: circular-font, normal !important
}

.font-secondary {
  font-family: circular-font, normal !important
}

.font-tertiary {
  font-family: circular-font, bold !important
}

.shadow {
  box-shadow: 0 18px 39.1px 6.9px rgba(224, 241, 255, .34) !important
}

.bg-dark {
  background-color: #222 !important
}

.icon {
  font-size: 45px
}

.icon-bg {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center
}

.icon-light {
  color: #c8d5ef
}

.slick-dots {
  text-align: center;
  padding-left: 0
}

.slick-dots li {
  display: inline-block;
  margin: 2px
}

.slick-dots li.slick-active button {
  background: #fff;
  width: 25px
}

.slick-dots li button {
  height: 6px;
  width: 12px;
  background: rgba(255, 255, 255, .5);
  color: transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: .2s ease;
  border: 0
}

.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #c7c7c7;
  height: 60px
}

.form-control:focus {
  border-color: var(--primary-color);
  outline: 0;
  box-shadow: none !important
}

textarea.form-control {
  height: 120px
}

.card {
  border: 0
}

.card-header {
  border: 0
}

.card-footer {
  border: 0
}

.navigation {
  padding: 40px 130px;
  transition: .3s ease
}

.navigation.nav-bg {
  background-color: var(--primary-color);
  padding: 5px 100px
}

@media(max-width:991px) {
  .navigation.nav-bg {
    padding: 15px 20px
  }
}

@media(max-width:991px) {
  .navigation {
    padding: 10px;
    background: var(--primary-color)
  }
}

.navbar .nav-item .nav-link {
  font-family: circular-font;
  text-transform: uppercase;
  padding: 15px
}

.navbar .nav-item.active .nav-link{
  color: #52f8f4;
}

.navbar-dark .navbar-nav .nav-link {
  color: #000000;
}

.hero-area {
  padding: 8rem 0 5rem;
  position: relative
}

@media(max-width:767px) {
  .hero-area {
    padding: 100px 0 50px;
    overflow: hidden
  }
}

.hero-area h2 {
  position: relative;
  z-index: 2
}

.layer {
  position: relative;
  z-index: 1
}

#l1 {
  bottom: 0;
  left: 0
}

#l2 {
  top: 190px;
  left: -250px
}

#l3 {
  top: 200px;
  left: 40%
}

#l4 {
  top: 200px;
  right: 40%
}

#l5 {
  top: 100px;
  right: -150px
}

#l6 {
  bottom: -20px;
  left: 10%
}

#l7 {
  bottom: 100px;
  left: 20%
}

#l8 {
  bottom: 160px;
  right: 45%
}

#l9 {
  bottom: 100px;
  right: -10px
}

#l10 {
  bottom: -20px;
  right: -1000px
}

.layer-bg {
  position: absolute;
  bottom: 0;
  left: 0
}

.progress-wrapper {
  height: 130px;
  overflow: hidden
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%
}

.wave::before,
.wave::after {
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  bottom: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, .4);
  border-radius: 45%;
  transform: translateX(-50%) rotate(0);
  animation: rotate 6s linear infinite;
  z-index: 10
}

.wave::after {
  border-radius: 47%;
  background-color: rgba(255, 255, 255, .9);
  transform: translateX(-50%) rotate(0);
  animation: rotate 10s linear -5s infinite;
  z-index: 20
}

@keyframes rotate {
  50% {
    transform: translateX(-50%) rotate(180deg)
  }

  100% {
    transform: translateX(-50%) rotate(360deg)
  }
}

.edu-bg-image {
  position: absolute;
  left: 0;
  top: -300px;
  z-index: -1
}

.hover-bg-primary {
  transition: .3s ease
}

.hover-bg-primary:hover {
  background: var(--primary-color)
}

.hover-bg-primary:hover * {
  color: #fff
}

.active-bg-primary {
  transition: .3s ease;
  background: var(--primary-color)
}

.active-bg-primary * {
  color: #000000
}

.hover-shadow {
  transition: .2s ease
}

.hover-shadow:hover {
  box-shadow: 0 18px 40px 8px rgba(224, 241, 255, .54) !important
}

.hover-wrapper {
  overflow: hidden
}

.hover-wrapper img {
  transition: .3s ease;
  transform: scale(1.1)
}

.hover-wrapper:hover img {
  transform: scale(1)
}

.hover-wrapper:hover .hover-overlay {
  opacity: 1;
  visibility: visible
}

.hover-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
  opacity: 0;
  visibility: hidden;
  transition: .3s ease
}

.hover-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center
}

.testimonial-content strong {
  color: #2bfdff;
  font-weight: 400
}

.testimonial-bg-shapes .container {
  position: relative;
  z-index: 1
}

.testimonial-bg-shapes .bg-map {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.testimonial-bg-shapes .bg-shape-1 {
  position: absolute;
  left: 100px;
  top: -50px
}

.testimonial-bg-shapes .bg-shape-2 {
  position: absolute;
  right: 150px;
  top: 50px
}

.testimonial-bg-shapes .bg-shape-3 {
  position: absolute;
  right: 50px;
  top: 200px
}

.testimonial-bg-shapes .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 200px
}

.testimonial-bg-shapes .bg-shape-5 {
  position: absolute;
  right: 200px;
  bottom: -50px
}

.footer-section {
  padding-top: 200px
}

.section-on-footer {
  margin-bottom: -250px
}

.shadow-down {
  position: relative
}

.shadow-down::before {
  position: absolute;
  content: "";
  box-shadow: 0 0 80.75px 14.25px rgba(224, 241, 255, .34);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1
}

.card-lg {
  flex-direction: row-reverse;
  align-items: center
}

@media(max-width:991px) {
  .card-lg {
    flex-direction: column
  }
}

blockquote {
  display: inline-block;
  padding: 10px 20px;
  background: #eaeaea;
  border-left: 2px solid var(--primary-color);
  font-style: italic;
  font-size: 22px
}

.content * {
  margin-bottom: 20px
}

.page-title-alt {
  padding: 150px 0 70px
}

@media(max-width:991px) {
  .page-title-alt  {
    padding: 150px 0 70px

  }
}

.border-thick {
  border: 10px solid
}

.drag-lg-top {
  margin-top: -230px
}

@media(max-width:991px) {
  .drag-lg-top {
    margin-top: 0
  }
}

.page-title-alt .container {
  position: relative;
  z-index: 1
}

.page-title-alt .bg-shape-1 {
  position: absolute;
  left: 0;
  top: 150px;
  height: 40%;
  transform: rotate(90deg);
}

.page-title-alt .bg-shape-2 {
  position: absolute;
  left: 470px;
  top: 300px;
  height: 50%;
}

.page-title-alt .bg-shape-3 {
  position: absolute;
  left: 30%;
  top: 100px;
  height: 40%;
}

.page-title-alt .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 100px;
  height: 60%;
}

.page-title-alt .bg-shape-5 {
  position: absolute;
  left: 40%;
  bottom: -25px;
  height: 40%;
}

.page-title-alt .bg-shape-6 {
  position: absolute;
  top: -200px;
  height: 400%;
}

.page-title {
  padding: 250px 0 150px
}

.page-title .container {
  position: relative;
  z-index: 1
}

.page-title .bg-shape-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%
}

.page-title .bg-shape-2 {
  position: absolute;
  left: -20px;
  top: -10px
}

.page-title .bg-shape-3 {
  position: absolute;
  left: 10%;
  top: 100px
}

.page-title .bg-shape-4 {
  position: absolute;
  left: 50%;
  top: -20px
}

.page-title .bg-shape-5 {
  position: absolute;
  left: 90px;
  bottom: -50px;
  transform: rotate(180deg)
}

.page-title .bg-shape-6 {
  position: absolute;
  right: 20%;
  bottom: -20px
}

.page-title .bg-shape-7 {
  position: absolute;
  right: -220px;
  bottom: -100px
}

.filter-controls li {
  cursor: pointer
}

.filter-controls li.active {
  font-weight: 700
}

.social-icons a{
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 50%;
  display: block;
  box-shadow:  0 18px 39.1px 6.9px rgba(224,241,255,.34);
  color: #fff;
  background-color: var(--primary-color);
  font-size: 20px;
  text-align: center;
}

.project-meta{
  display: flex;
  align-items: center;
}

.project-meta i{
  height: 100px;
  min-width: 100px;
  line-height: 100px;
  background-color: #fff;
  color: var(--primary-color);
  border-radius: 50%;
  text-align: center;
  display: block;
  box-shadow:  0 18px 39.1px 6.9px rgba(224,241,255,.34);
  font-size: 30px;
}

.project-meta h4{
  font-weight: bold;
  font-size: 24px;
}

.project-meta p{
  margin-bottom: 0;
}

.galeria{
  float: left;
  padding: 20px;
}
/*
.imagen{
  width: 30%;
  float: left;
  padding: 10px;
} */

.imagenandroid{
  width: 50%;
  float: left;
  padding: 10px;
}

.imagen img {
  transform: scale(0.5)
}

.redes {
  padding-top: 50px;
}

.fanzines {
  color: #5290BC
}

.podcasts {
  color: #EF614F
}

.blog {
  color: #5290BC
}

.videos {
  color: #B9D8B9
}

.responsive {
  max-width: 100%;
  height: auto;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.logo {
  max-height: 8rem;
}
@media(max-width:991px) {
  .logo {
    max-height: 4rem;
  }
}

.hamburger-menu {
  color: #000
}
