<!-- page title -->
<section class="page-title bg-blue position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">{{.Title}}</h1>
      </div>
    </div>
  </div>

</section>
<!-- /page title -->
