<div class="col-lg-3 col-sm-6 mb-4">
  <article class="card shadow">
    <img class="rounded card-img-top" src="{{.Params.Image | relURL}}" alt="{{.Title }}">
    <div class="card-body">
      <h4 class="card-title"><a class="text-dark" href="{{.Permalink}}">{{.Title }}</a>
      </h4>
      <p class="cars-text">{{.Summary}}</p>
      <a href="{{.Permalink}}" target="_blank" class="btn btn-sm btn-primary">Leer más</a>
    </div>
  </article>
</div>
