{{ if site.Params.contact.enable }}
<!-- contact -->
<section id="contacto" class="section section-on-footer bg-lightgreen" >
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Contacto</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <form action="{{site.Params.contact.form_action}}" method="POST" class="row">
            <div class="col-md-6">
              <input type="text" id="name" name="name" placeholder="{{site.Params.contact.fullname}}" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="email" id="email" name="email" placeholder="{{site.Params.contact.email}}" class="form-control px-0 mb-4">
            </div>
            <div class="col-12">
              <textarea name="message" id="message" class="form-control px-0 mb-4"
                placeholder="{{site.Params.contact.message}}"></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
              <button class="btn btn-primary w-100">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->
{{ end }}

<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 logos text-center">
            <a href="{{ site.Params.url1 | safeURL }}" target="_blank"><img src="{{site.Params.logo1 | absURL}}"></a>
        </div>
        <div class="col-md-4 text-center">
          <a href="{{ site.Params.url2 | safeURL }}" target="_blank"><img src="{{site.Params.logo2 | absURL}}"></a>
        </div>
        <div class="col-md-4 text-center">
          <a href="{{ site.Params.url3 | safeURL }}" target="_blank"><img src="{{site.Params.logo3 | absURL}}"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">{{ site.Params.copyright | markdownify }}</p>
  </div>
</footer>
<!-- /footer -->

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
