{{ define "main" }}

  <!-- hero area -->
  <section class="hero-area bg-primary overflow-hidden" id="parallax">
  <!--   <div class="container"> -->
      <div class="row mx-md-5 mt-sm-5">
          <div class="col-md-6 col-sm-12 mx-auto">
            <img class="img-fluid w-100 pl-md-5 ml-md-4 mt-sm-4 p-sm-0 m-sm-0" src="{{`images/illustrations/yoga garden.png` | relURL}}" alt="yoga garden">
        </div>
        <div class="col col-md-6 col-sm-12 d-flex justify-content-center flex-column">
            <h1 class="text-black font-tertiary text-center text-md-right p-sm-0 m-sm-0 pr-md-5 mr-md-4 ">{{ site.Data.homepage.banner.title | safeHTML }}</h1>
            <!-- social icon -->
            <div class="list-unstyled ml-5 mt-3 pr-5 mr-lg-4 mt-lg-5  position-relative zindex-1 float-left d-flex" style="padding-right:40px;">
              <h5 class="ml-auto"> Seguínos en las redes</h5>
              {{ range site.Params.social }}
              <li class="ml-3"><a class="text-dark" href="{{.URL | safeURL }}" target="_blank"><i class="{{.icon}}"></i></a></li>
              {{ end }}
            </div>
          <!-- </div> -->
          <!-- /social icon -->

          </div>
      </div>
  <!--   </div>-->
  </section>
  <!-- /hero area -->

  {{ if site.Data.homepage.about.enable }}
  <!-- acerca -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          {{ with site.Data.homepage.about }}
          <p class="font-tertiary lead text-dark">{{.content | markdownify}}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .URL | absURL }}" class="btn btn-primary">{{.label}}</a>
          {{ end }}
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  <!-- /acerca -->
  {{ end }}

  {{ if site.Data.homepage.fanzines.enable }}
  <!-- fanzines -->
  <section id="recursos" class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title" >{{ site.Data.homepage.recursos.title | markdownify }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="section-title fanzines">{{ site.Data.homepage.fanzines.title | markdownify }}</h3>
        </div>
      </div>
      <div class="row shuffle-wrapper">
        {{ with site.Data.homepage.fanzines }}
        {{ range .item }}
        <div class="col-lg-3 col-6 mb-4 shuffle-item">
          <div class="position-relative rounded hover-wrapper">
            <img src="{{.imagen | relURL }}" alt="{{.imagenalt | relURL }}" class="img-fluid rounded w-100 d-block">
            <div class="hover-overlay">
              <div class="hover-content">
                <a class="btn btn-primary btn-sm boton-fanzine" href="{{ .url | safeURL }}" target="_blank">Leer y descargar</a>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </section>

  <!-- /fanzines -->
  {{ end }}

  {{ if site.Data.homepage.podcasts.enable }}
  {{ with site.Data.homepage.podcasts }}
  <!-- podcasts -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="section-title podcasts">{{ .title | markdownify }}</h3>
        </div>
        {{ range .item }}
        <div class="col-md-4 mb-4">
          <div class="card {{if .highlighted }} active-bg-primary {{end}} hover-shadow shadow">
            <div class="card-body text-center px-4 py-5">
              <iframe width="100%" height="300" src="{{.url}}" frameborder="0"></iframe>
              <h4 class="mb-4 mt-4">{{.title}}</h4>
              <p>{{.content | markdownify}}</p>

            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>

  <!-- /podcasts -->
  {{ end }}
  {{ end }}

  {{ if site.Data.homepage.blog.enable }}
  <!-- artículos e investigaciones -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="section-title blog">{{site.Data.homepage.blog.title | markdownify }}</h3>
        </div>
        {{ range first 4 site.RegularPages }}
        {{ .Render "post" }}
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /blog -->
  {{ end }}

  {{ if site.Data.homepage.videos.enable }}
  {{ with site.Data.homepage.videos }}
  <!-- videos -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="section-title videos">{{ .title | markdownify }}</h3>
          <h4>Compartí estos videos en las redes sociales usando los hashtags #MenteEnLinea y #SaludMentalEnInternet &#10084;</h4>
        </div>
        {{ range .item }}
        <div class="col-12 mb-4">
          <div class="card {{if .highlighted }} active-bg-primary {{end}} hover-shadow shadow">
            <div class="card-body text-center px-4 py-5">
              <iframe width="100%" height="400" src="{{.url}}" frameborder="0"></iframe>
              <h4 class="mb-4 mt-4">{{.title}}</h4>
              <p>{{.content | markdownify}}</p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>

  <!-- /videos -->
  {{ end }}
  {{ end }}



{{ end }}
