{{ define "main" }}

<!-- page title -->
<section class="page-title-alt bg-lightorange position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 align-self-sm-center align-self-md-end">
        <h1 class="text-dark font-tertiary">{{ .Title }}</h1>
      </div>
    <!-- background shapes -->
      <div class="col-sm-12 col-md-6">
        <img src="{{`images/illustrations/stop and smell the flowers.png`| relURL}}" alt="illustrations" class="mh-25 img-fluid" >
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
<!-- /about -->


{{ end }}
